{% extends "base.html" %}
{% from 'security/_macros.html' import render_field, render_field_with_errors %}
{% block content %}


<div class="row-fluid">
    <div class="col-md-4 col-sm-offset-2">
        <h1></h1>
        <div class="well">
            <h1>Logg inn</h1>

      <form id="tryitForm" action="{{ url_for_security('login') }}" method="POST" name="login_form">

    <div class="form-group">
        {{ login_user_form.hidden_tag() }}
    </div>

    <div class="form-group">
            <input placeholder="email" type="email" class="form-control" name="email" value={{ email }}>
    </div>

    <div class="form-group">
            <input placeholder="password" type="password" class="form-control" name="password" />
    </div>

    <div class="form-group">
            {{ render_field(login_user_form.remember) }}
            <h7>Husk meg</h7>
    </div>

    <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
      <a href="/recovery">Glemt passord</a>
            <a> | </a>
      <a href="/register">Registrer ny bruker</a>

        </div>
    </div>
</div>




<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/validator.js"></script>
<script src="/static/js/bootstrapvalidator.js"></script>


{% endblock %}


