{% extends "base.html" %}
{% from 'security/_macros.html' import render_field, render_field_with_errors %}
{% block content %}
<div class="row-fluid">
    <div class="col-md-4 col-sm-offset-2">
        <h1></h1>
        <div class="well">
            <h1>Logg inn</h1>

      <form id="tryitForm" action="{{ url_for_security('login') }}" method="POST" name="login_form">

    <div class="form-group">
        {{ login_user_form.hidden_tag() }}
    </div>

    <div class="form-group">
             {{ render_field(login_user_form.email, class_="form-control", type="email", placeholder="email", onchange="document.form2.email.value=this.value;") }}
             {% if login_user_form.email.errors %}
                <ul>
                    {% for error in login_user_form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    </div>

    <div class="form-group">
            {{ render_field(login_user_form.password, class_="form-control", placeholder="passord") }}
            {% if login_user_form.password.errors %}
                <ul>
                    {% for error in login_user_form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    </div>

    <!--<div class="form-group">
            {{ render_field(login_user_form.remember) }}
            <h7>Husk meg</h7>
    </div>-->

    <div class="form-group">
                <button type="submit" value="submit" class="ladda-button" data-color="blue" data-size="xs">
                <span class="ladda-label">Logg inn</span>
            </button>
    </div>
</form>

            <form id="form" action="recovery " method="POST" name="form2">
                {{ render_field(login_user_form.email, placeholder="email", hidden="true") }}
            </form>
            {{ email }}
            <a href="#" onclick="document.forms[1].submit();return false;">Glemt passord?</a>
            <a> | </a>
            <a href="/register">Registrer ny bruker</a>

        </div>
    </div>
</div>

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/validator.js"></script>
    <script src="/static/js/bootstrapvalidator.js"></script>

{% endblock %}


