<link href="/static/css/table.css" rel="stylesheet">
<script src="/static/js/jquery-2.1.1.min.js" type="text/javascript"></script>
{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<br>
<br>

<div id="projects" class="row">

  <div class="col-md-5">
  <input class="search form-control padd" placeholder="Søk...">
    </div>

  <div class="col-md-12">

    <table class="table table-bordered test">
  <thead bgcolor="#2c7bb2">
    <tr style="color:white">
      <th><span style="font-weight: normal;">Endring</span></th>
      <th><span style="font-weight: normal;">Prosjekt</span></th>
      <th><span style="font-weight: normal;">Aktivitet</span></th>
      <th><span style="font-weight: normal;">Bruker</span></th>
      <th><span style="font-weight: normal;">Bilde</span></th>
    </tr>
  </thead>
  <tbody class="list">
  {% for x in data %}
    <tr>
      <td class="name">{{ x[0] }}</td>
      <td class="description">{{ x[2] }}</td>
      <td>{{ x[1] }}</td>
      <td>{{ x[3] }}</td>
      <td><a href="/{{ x[4] }}">vis bilde</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>
</div>

<script src="http://listjs.com/no-cdn/list.js"></script>
<script src="/static/js/change.js" type="text/javascript"></script>

{% endblock body %}