{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row content">
    <div class="col-md-12">
<h1>Registrer endringer for {{ activity }}</h1><br/>
    
<form id="upload-form" action="{{ url_for('upload') }}"  method="POST" enctype="multipart/form-data">
    <input type="hidden" name="activity_id" value="{{ activity_id }}">

    <strong>Beskrivelse:</strong><br>
    <textarea class="form-control" rows="4" cols="40" name="textarea"></textarea><p><br/>
    <br/>
    <input id="file-picker" type="file" name="file" accept="image/*" multiple><p><br/>


    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input class="btn btn-primary" type="submit" value="Lagre endringer" id="upload-button">
</form>
        </div>
        </div>
</div>
{% endblock %}

