{% extends "base.html" %}
{% block content %}
<link href="/static/css/folder.css" rel="stylesheet" type="text/css">
<div class="container content" id="projects">
    <div class="row text-center">
        {{ current_user.email }}
        <a href="/logout">Log ut</a>
        {% if back %}
            <p class="text-center"><a href="javascript:history.back()">Tilbake</a></p>
        {% endif %}
    </div>
    {% if empty %}
        <h2 class="text-center">Ingen elementer</h2>
    {% endif %}
    {% if data %}
    <div class="row">
        <div class="col-md-4">
            </div>
        <div class="col-md-4 text-center">
            <input name="filter" class="search form-control" id="search" value="" placeholder="Søk...">
        </div>
    </div>


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="list-group list">

                {% for x in data["nodes"] %}

                {% if x.isFolder == 1%}
                <form id="{{x}}" action="index" method="POST">
                    <div class="test green list-group-item li" id="{{ x }}" onclick="submit(this.id)">
                        <div class="row">
                            <input name="struct" value="{{x}}" hidden="true">
                            <div class="col-xs-2 inner"><h1 class="white text-center"><i class="fa fa-folder"></i></h1>
                            </div>
                            <div class="col-xs-9"><h4 class="white name1">{{ x.text }}</h4></div>
                            <div class="col-xs-8 col-md-4">
                                <hr>
                            </div>
                        </div>
                    </div>
                </form>
                {% elif x.isActivity == 1%}
                <form id="{{x}}" action="index" method="POST">
                    <div class="test red list-group-item li" id="{{ x }}" onclick="submit(this.id)">
                        <div class="row">
                            <input name="struct" value="{{x}}" hidden="true">
                            <div class="col-xs-2 inner"><h1 class="white text-center"><i
                                    class="fa fa-pencil-square-o"></i></h1></div>
                            <div class="col-xs-9"><h4 class="white name1">{{ x.text }}</h4></div>
                            <div class="col-xs-8 col-md-4">
                                <hr>
                            </div>
                            <div class="col-xs-9"><br/>
                                <p class="white description1">{{ x.description }}</p></div>
                        </div>
                    </div>
                </form>
                {% else %}
                <form id="{{x}}" action="index" method="POST">
                    <div class="test blue list-group-item li" id="{{ x }}" onclick="submit(this.id)"
                         style="display:none;">
                        <div class="row">
                            <input name="struct" value="{{x}}" hidden="true">
                            <div class="col-xs-2 inner"><h1 class="white text-center"><i class="fa fa-desktop"></i></h1>
                            </div>
                            <div class="col-xs-9"><h4 class="white name1">{{ x.text }}</h4></div>
                            <div class="col-xs-8 col-md-4">
                                <hr>
                            </div>
                            <div class="col-xs-9"><br/>
                                <p class="white description1">{{ x.description }}</p></div>
                        </div>
                    </div>
                </form>
                {% endif %}
                {% endfor %}


                {% for x in all %}
                {% if x.isFolder == 1%}
                <form id="{{x}}" action="index" method="POST">
                    <div data-filter="" class="test green list-group-item li el" id="{{ x }}"
                         onclick="submit(this.id)" style="display:none;">
                        <div class="row">
                            <input name="struct" value="{{x}}" hidden="true">
                            <div class="col-xs-2 inner"><h1 class="white text-center"><i class="fa fa-folder"></i></h1>
                            </div>
                            <div class="col-xs-9"><h4 class="white name1">{{ x.text }}</h4></div>
                            <div class="col-xs-8 col-md-4">
                                <hr>
                            </div>
                        </div>
                    </div>
                </form>
                {% elif x.isActivity == 1%}
                <form id="{{x}}" action="index" method="POST">
                    <div data-filter="" class="test red list-group-item li el" id="{{ x }}"
                         onclick="submit(this.id)" style="display:none;">
                        <div class="row">
                            <input name="struct" value="{{x}}" hidden="true">
                            <div class="col-xs-2 inner"><h1 class="white text-center"><i
                                    class="fa fa-pencil-square-o"></i></h1></div>
                            <div class="col-xs-9"><h4 class="white name1">{{ x.text }}</h4></div>
                            <div class="col-xs-8 col-md-4">
                                <hr>
                            </div>
                            <div class="col-xs-9"><br/>
                                <p class="white description1">{{ x.description }}</p></div>
                        </div>
                    </div>
                </form>
                {% else %}
                {% if back %}
                <form id="{{x}}" action="index" method="POST">
                    <div data-filter="" class="test blue list-group-item li el" id="{{ x }}"
                         onclick="submit(this.id)" style="display:none;">
                        <div class="row">
                            <input name="struct" value="{{x}}" hidden="true">
                            <div class="col-xs-2 inner"><h1 class="white text-center"><i class="fa fa-desktop"></i></h1>
                            </div>
                            <div class="col-xs-9"><h4 class="white name1">{{ x.text }}</h4></div>
                            <div class="col-xs-8 col-md-4">
                                <hr>
                            </div>
                            <div class="col-xs-9"><br/>
                                <p class="white description1">{{ x.description }}</p></div>
                        </div>
                    </div>
                </form>
                {% else %}
                <form id="{{x}}" action="index" method="POST">
                    <div data-filter="" class="test blue list-group-item li" id="{{ x }}"
                         onclick="submit(this.id)">
                        <div class="row">
                            <input name="struct" value="{{x}}" hidden="true">
                            <div class="col-xs-2 inner"><h1 class="white text-center"><i class="fa fa-desktop"></i></h1>
                            </div>
                            <div class="col-xs-9"><h4 class="white name1">{{ x.text }}</h4></div>
                            <div class="col-xs-8 col-md-4">
                                <hr>
                            </div>
                            <div class="col-xs-9"><br/>
                                <p class="white description1">{{ x.description }}</p></div>
                        </div>
                    </div>
                </form>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

            {% else %}
            <div class="row">
                {% if info %}
                <div class="col-md-12 text-center">
                    <h2>{{info.text}}</h2>
                    <p>{{info.description}}</p>
                    <hr>
                    <br>
                    <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                        <div class="col-md-12">
                            <input type="hidden" name="activity_id" value={{info.id}}>
                            <!--<div class="blue"><h1 class="white text-center"><i class="fa fa-plus"></i></h1></div>-->
                            <select class="form-control" name="short_desc" required>
                                <option value="" disabled selected>Hva omfatter endringen?</option>
                                {% for x in shortlist %}
                                <option value="{{x.id}}">{{x.name}}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <!--<label for="file-picker" class="custom-file-upload">-->
                            <!--<i class="fa fa-camera-retro fa-5x"></i> Custom Upload-->
                            <!--</label>-->
                            <input id="file-picker" name="file" accept="image/*" type="file"
                                   class="filestyle form-control" data-input="false"
                                   data-buttonText="Velg bilde for opplasting" multiple required>
                            <br>
                            <!--<div class="red"><h1 class="white text-center"><i class="fa fa-minus"></i></h1></div>-->
                            <textarea class="form-control" rows="4" cols="40" name="textarea"
                                      placeholder="Eventuell kort forklaring..."></textarea>
                            <p><br/>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="ladda-button" data-color="blue" data-size="Extra Large"
                                    data-style="slide-up">
                                <span>Lagre endringer</span>
                            </button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/js/uploadr.js" type="text/javascript"></script>
<script src="/static/js/upload-alert.js" type="text/javascript"></script>
<script src="/static/js/app.js" type="text/javascript"></script>

{% endblock %}