{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <div class="col-md-4 col-sm-offset-2">
        <h1></h1>
        <div class="well">
            <h1>Glemt passord</h1>
    <form id="tryitForm2" action="set_new_password" method="Post">
        <br>
        <div class="form-group">
            <input type="email" name="email" class="form-control" id="email" value={{ email }} readonly="true">
        </div>

        <div class="form-group">
            <input type="text" placeholder="Passord mottatt på mail" name="pas" class="form-control" id="pas">
        </div>

        <div class="form-group">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                     </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="form-group">
            <input type="password" placeholder="Nytt passord" name="password" class="form-control" id="password">
        </div>

        <div class="form-group">
            <input type="password" placeholder="Bekreft passord" name="password_confirm" class="form-control">
        </div>

        <div class="form-group">
            <button type="submit" class="ladda-button" data-color="blue" data-size="xs" data-style="slide-up">
                <span>Sett nytt passord</span>
            </button>
        </div>

    </form>
            <p>Tilbake til innlogging? <a href="{{ url_for('security.login') }}">Logg inn</a></p>
            <p>Feil Email? <a href="javascript:history.back()">Tilbake</a></p>
                    </div>
    </div>
</div>

<script src="/static/js/test.js"></script>

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/validatorSetNew.js"></script>
<script src="/static/js/bootstrapvalidator.js"></script>

{% endblock %}